@import "@/styles/utils/mixins";
@import "@/styles/layout.scss";



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 80vw !important;
  }
}

.circle {
  @apply w-4 h-4 my-12 mx-1 bg-appBlue-50 rounded-full;
}
// Create font variable
$font: 'Maven Pro';

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: $font, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    @apply text-appBlue-100;
  }
}

* {
  box-sizing: border-box;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.no-scroll {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  -webkit-animation: fadeIn 0.3s forwards;
  animation: fadeIn 0.3s forwards;
  z-index: 12;
}

hr {
  background: none;
  border: none;
  border-top: solid 1px;
  @apply border-gray-300;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

// react pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;

  .previous,
  .next {
    font-size: 22px;
    @apply bg-blue-500 p-2 rounded-full text-white;
    margin: 0px 10px;

    a:hover {
      @apply text-appBlue-100;
    }

    &.disabled {
      @apply pointer-events-none bg-gray-500;
    }
  }

  li {
    margin: 0px 10px;
    position: relative;

    &::before {
      content: "";
      width: 5px;
      height: 5px;
      @apply bg-blue-500 rounded-full;
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      display: none;
    }

    &.active {
      &::before {
        display: block;
      }
    }
  }
}

.purple-color{
  color: #1d8ea7;
}
.bg-purple-color{
  background-color: #1d8ea7;
}

.reading-progress-bar {
  position: fixed;
  height: 6px;
  bottom: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --B1: #0095A5;
    --B2: #095F68;
    --B3: #171E46;
    --B4: #0B131A;

    --R1: #BC000A;
    --Y1: #E8B100;
    --G1: #008E2B;


    --BL1: #4e4e4e;
    --BL2: #737373;
    --BL3: #efefef;
    --BL4: #FEFEFE;

    /* TRANSPARENCY */

    --BL4-T: #fefefe6b;
}

/* BARRA DE ROLAGEM */

::-webkit-scrollbar {
    width: 4px;
    height: 7px
}

::-webkit-scrollbar-track {
    background: var(--BL4);
    margin: 5px 0;
}

::-webkit-scrollbar-thumb {
    background: var(--BL2);
    border-radius: 25px;
}

::-moz-scrollbar {
    width: 1px;
}

::-moz-scrollbar-track {
    background: var(--BL3);
}

::-moz-scrollbar-thumb {
    background: var(--BL2);
}